body {
  margin: 0;
  background: #323232;
  color: #eee;
  font-family: 'Courier New';
}

a {
  color: #29f;
}

#header {
  width: 1088px;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
}

#header > span {
  font-size: 14px;
}

#lobby {
  width: 1088px;
  height: 384px;
  font-size: 24px;
  text-align: center;
}
#lobby > h1 {
  margin-top: 128px;
  font-size: 24px;
  margin: 128px 0 0;
  font-weight: normal;
}

#gameplay {
  display: none;
}

#game {
  position: absolute;
  top: 32px;
  left: 128px;
  background: url('/images/background.png');
}

.team {
  width: 126px;
  position: absolute;
  top: 32px;
  border: 1px solid #222;
  border-bottom: none;
}
.team[data-name="red"] {
  left: 960px;
  color: #ff0;
}
.team[data-name="green"] {
  left: 0;
  color: #29d;
}
.team > .score {
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  background: #222;
}
.team > .users > .user {
  padding: 2px;
  font-size: 12px;
  border-bottom: 1px solid #222;
}
.team > .users > .user > .score {
  float: right;
}

#info {
  position: absolute;
  left: 0;
  top: 416px;
  font-size: 12px;
  padding: 0 16px 16px;
}

#info > .changeName > input {
  background: #222;
  color: #fff;
  outline: none;
  border: none;
  padding: 2px 4px;
}
#info > .changeName > .changeNameButton {
  display: inline-block;
  color: #29f;
  border: 1px solid #222;
  cursor: pointer;
  padding: 2px 4px;
}
#info > .changeName > .changeNameButton:hover {
  text-decoration: underline;
}

#info h1 {
  margin: 16px 0 0;
  font-size: 24px;
}
#info ul {
  margin: 0;
  padding: 0 0 0 24px;
}
#info p {
  margin: 0;
}

.windows8 {
  display: none;
}