body {
  margin: 0;
  background: #323232;
  color: #eee;
  font-family: 'Courier New';
  max-width: 1088px;
  width: 1088px;
  overflow: hidden;
}

@font-face {
  font-family:"pixel";
  src:url("/font/pixelart.eot?") format("eot"),
      url("/font/pixelart.woff") format("woff"),
      url("/font/pixelart.ttf") format("truetype"),
      url("/font/pixelart.svg#Pixel-Art") format("svg");
  font-weight:normal;
  font-style:normal;
}

a {
  color: #29f;
}

#header {
  width: 1088px;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  font-family: "pixel";
}

#header > span {
  font-size: 14px;
  font-family: 'Courier New';
}

#lobby {
  width: 1088px;
  height: 384px;
  font-size: 24px;
  text-align: center;
  font-family: "pixel";
}
#lobby > h1 {
  margin-top: 128px;
  font-size: 24px;
  margin: 128px 0 0;
  font-weight: normal;
}

#gameplay {
  display: none;
}

#game {
  position: absolute;
  top: 32px;
  left: 128px;
  background: url('/images/background.png');
}

.team {
  width: 126px;
  position: absolute;
  top: 32px;
  border: 1px solid #222;
  border-bottom: none;
  font-family: "pixel";
}
.team[data-name="red"] {
  left: 960px;
  color: #ff0;
}
.team[data-name="green"] {
  left: 0;
  color: #29d;
}
.team > .score {
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  background: #222;
}
.team > .users > .user {
  padding: 2px;
  font-size: 12px;
  border-bottom: 1px solid #222;
}
.team > .users > .user > .score {
  float: right;
}

#info {
  position: absolute;
  left: 0;
  top: 416px;
  width: 1024px;
  font-size: 12px;
  padding: 0 16px 16px;
}

#info > .changeName {
  float: left;
}

#info > .changeName > input {
  background: #222;
  color: #fff;
  outline: none;
  border: none;
  padding: 2px 4px;
}
#info > .changeName > .changeNameButton {
  display: inline-block;
  color: #29f;
  border: 1px solid #222;
  cursor: pointer;
  padding: 2px 4px;
}
#info > .changeName > .changeNameButton:hover {
  text-decoration: underline;
}

#info .authors {
  margin-top: 48px;
}

#info h1 {
  margin: 16px 0 0;
  font-size: 24px;
}
#info ul {
  margin: 0;
  padding: 0 0 0 24px;
}
#info p {
  margin: 0;
}

.windows8 {
  display: none;
}

.touch {
  display: none;
  width: 1056px;
  height: 144px;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.touch > .hit > .button {
  float: left;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #000;
  font-family: 'pixel';
  font-size: 32px;
  margin-top: 48px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.touch > .arrow > .button {
  position: absolute;
  right: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #000;
  font-family: 'pixel';
  font-size: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.touch > .arrow > .button[data-button="up"] {
  top: 0;
  right: 48px;
}
.touch > .arrow > .button[data-button="right"] {
  top: 48px;
  right: 0;
}
.touch > .arrow > .button[data-button="down"] {
  top: 96px;
  right: 48px;
}
.touch > .arrow > .button[data-button="left"] {
  top: 48px;
  right: 96px;
}

.show {
  color: #29f;
  cursor: pointer;
  margin-top: 40px;
}
.hidden {
  display: none;
}