body {
  margin: 0;
  background: #323232;
  color: #eee;
  font-family: 'Courier New';
}

a {
  color: #29f;
}

#header {
  width: 1024px;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
}

#header > span {
  font-size: 14px;
}

#game {
  position: absolute;
  top: 32px;
  left: 128px;
  background: #222;
}

.team {
  width: 126px;
  position: absolute;
  top: 32px;
  border: 1px solid #222;
  border-bottom: none;
}
.team[data-name="red"] {
  left: 0;
}
.team[data-name="green"] {
  left: 896px;
}
.team > .score {
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid #222;
}
.team > .users > .user {
  padding: 2px;
  font-size: 12px;
  border-bottom: 1px solid #222;
}
.team > .users > .user > .score {
  float: right;
}

#info {
  position: absolute;
  left: 0;
  top: 416px;
  font-size: 12px;
  padding: 0 16px 16px;
}

#info > .changeName {
  color: #29f;
  cursor: pointer;
}
#info > .changeName:hover {
  text-decoration: underline;
}

#info h1 {
  margin: 16px 0 0;
  font-size: 24px;
}
#info ul {
  margin: 0;
  padding: 0 0 0 24px;
}
#info p {
  margin: 0;
}